* {
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: azure;
    }

header {
    background-color:#34585C;
    height: 100px;
}

.top-nav a {
    color: #ffffff;
    text-decoration: none;
    
}

.top-nav li {
    list-style: none;
    float: right;
    padding: 10px;
      
}

.hero-header {
    display: flex;
    background-color: #C4DEE1;
    width:100%;
    
}

.hero-header h1 {
    font-size: 2em;
    color: black;
    font-weight: bold;
    text-align: center;
    margin:10px;
    padding: 5px; 
     
}

.hero-header p {
    margin: 10px;
    padding: 5px;
           
}

.hero-img {
    width: 50%;
    align-content: center;
    align-items: center;
    margin:auto;
    padding:auto;
    

}

.hero-header img {
    width: auto;
    height: auto;
    max-width: 100%;
        
}

.hero-h1-p {
    width: auto;
    padding: auto;
    max-width:50%;

}

.section-container {
    flex: display;
    flex-direction: row;
    

}

.section1, .section2, .section3 {
    border: 1px solid #1D5C57;
    display: flex;
    padding: 10px;
    margin: 10px;

}

.section1 {
    float: left;
}

.section1 {
    float: left;
}
