* {
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: azure;
    }

header {
    background-color:#34585C;
    height: 100px;
}

.top-nav a {
    color: #ffffff;
    text-decoration: none;
    
}

.top-nav li {
    list-style: none;
    float: right;
    padding: 10px;
      
}

.hero-header {
    display: flex;
    background-color: #C4DEE1;
    width:100%;
    
}

.hero-header h1 {
    font-size: 2em;
    color: black;
    font-weight: bold;
    text-align: center;
    margin:10px;
    padding: 5px; 
     
}

.hero-header p {
    margin: 10px;
    padding: 5px;
           
}

.hero-img {
    width: 50%;
    align-content: center;
    align-items: center;
    margin:auto;
    padding:auto;
    

}

.hero-header img {
    width: auto;
    height: auto;
    max-width: 100%;
        
}

.hero-h1-p {
    width: auto;
    padding: auto;
    max-width:50%;

}

.section-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.section1 {
    width: 330px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    background-color: #538892;
    border: 1px solid #1D5C57;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    
}

.section1:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.image-container {
    width: 90%;
}

.image-container img{
    overflow: hidden;
    height: 200px;
    max-width: 300px;
    margin-left: 0.25em;
    border-radius: 15px;
    
}    


.section-content{
    margin:1rem;
    margin-top:0.5rem;
}

.section-header{
    margin-bottom:0.5rem;
    text-align: center;
}

.section1 a {
    color: white;
    text-decoration: none;
    justify-content: center;
    border: solid 1px white;
    border-radius: 5px;
    padding: 5px;
}
